body {
  text-align: center;
  background-color: #221f3b;
}

#level-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin:  5%;
  color: #bbe1fa;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 100%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ee5252;
}

.green {
  background-color: #62fd96;
}

.blue {
  background-color: #43d1cc;
}

.yellow {
  background-color: #fde800;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
